.movies {
  background-color: dodgerblue;
  height: 100vh;
  color: white;
}

.movies .card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  width: 1600px;
  margin: 0 auto;
}

.movies .title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 100px;
}

.movies .card {
  border: 1px solid rgb(226, 219, 219);
  border-radius: 10px;
  background-color: rgb(50, 49, 49);
  padding: 20px;
  color: white;
  text-align: center;
}

.movies .card h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.movies .card .card-text {
  font-weight: 600;
  color: lightblue;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
}

